@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

.nav-button {
  border-bottom: 7px transparent solid;
  padding-top: 7px;
  transition: all 0.2s ease-in-out;
}

.nav-button:hover {
  border-bottom: 7px #d8ddde solid;
  padding-top: 7px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

.nav-submenu-popup {
  transform: translateY(4rem);
  transition-duration: 0.3s;
}

.nav-submenu-popup-element {
  height: 3rem;
  background-color: #dd6e42d2;
  color: #d8ddde;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border: 1px #dd6e42 dashed;
}

.nav-submenu-popup-element:hover {
  background-color: #d8ddde;
  color: #dd6e42;
  transition: all 0.1s linear;
}

.virtual-destination-button {
  border: 4px transparent solid;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all 0.2s ease-in-out;
}

.virtual-destination-button:hover {
  border: 1px #dd6e42 solid;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: all 0.2s ease-in-out;
  background-color: #d8ddde;
  color: #dd6e42;
}

.gradient {
  color: #d8ddde;
  -webkit-background-clip: text;
  background-clip: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ffcc00, #ff6600);
  background-size: 340px 100%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 677px) {
  .gradient {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #ffcc00, #ff6600);
    background-size: 676px 100%;
    background-repeat: no-repeat;
  }
}

.full-vh {
  height: calc(100vh - 4rem);
}

.products-grid-parent {
  display: grid;
  width: 85vw;
  grid-template-rows: repeat(3, 200px);
  grid-template-areas:
    "a a a"
    "b b b"
    "c c c";
}

@media screen and (min-width: 768px) {
  .products-grid-parent {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(4, 150px);
    grid-template-areas:
      "a b b"
      "a b b"
      "a c c"
      "a c c";
  }

  .writing-vertical {
    writing-mode: vertical-rl;
  }
}

.product-grid-1 {
  grid-area: a;
  overflow: hidden;
  border-radius: 1rem;
}
.product-grid-2 {
  grid-area: b;
  overflow: hidden;
  border-radius: 1rem;
}
.product-grid-3 {
  grid-area: c;
  overflow: hidden;
  border-radius: 1rem;
}

.transparent-hover {
  background-color: rgba(221, 110, 66, 0);
  color: transparent;
  transition: 0.5s;
  cursor: pointer;
}

.transparent-hover:hover {
  background-color: rgba(221, 110, 66, 0.5);
  color: #d8ddde;
  cursor: pointer;
}

.transparent-hover:hover h1 {
  display: inline;
}
